body {
	padding-top: 50px;
	padding-bottom: 150px;
	background: linear-gradient(#33ccff, #ff99cc);
	height: 100%;
}

/* unvisited link */
a:link {
    color: black;
	 text-decoration:  none;
}

/* visited link */
a:visited {
    color: black;
	 text-decoration:  none;
}

/* mouse over link */
a:hover {
    color: #ff99cc;
	 text-decoration:  none;
	}

/* selected link */
a:active {
    color: blue;
	 text-decoration:  none;
}

.containter {
	background-color: #fff;
	opacity: 0.5;
	padding: 10px;
	margin: 0px;
}
img {
	opacity:1;
}
a:hover {
    color: red;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
 .btn1 {
          margin: 11px;
          border-radius: 0px;
          color: #000000;
          background: #dbddde;
          padding: 6px 10px 4px 10px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0px;
		  font-size: 12px;
		  opacity: 0.5;
		  border-radius: 10px;
        }
	.Blog {
		background-color: #eaecef;
	}
	.New {
		background-color: #d9edd7;
		padding: 5px;
		border-radius: 15px;
	}
	.PP {
		background-color: #FFF;
		padding: 5px; 
		border-radius: 25px;
		
	}
	.MainCon {
		background-color: #b7b7b7;
	}
	.Sidebar {
		background-color: #e0e0e0;
	}
  .1hd{

	background-color: blue;
	
	}

	

	.rbody{

	margin-right: 30px;

	margin-left: 30px;

	background-color: #fff;

	}
	
	TBan {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	header {

	padding-left: 30px;

	background-color: #661141;

	color: #fff;

	}
	ecmar {
		margin: 20px;
	}
	.footer {
	margin-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #661141;
	color: #fff;

	}
	.m30 {
		margin-bottom: 30px;
	}

	