body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pp {
   border-radius: 50%;
}
#space {
  padding-bottom: 40px;
}
#title {
  vertical-align: middle;
}
Projects {
  color: grey;
}
#a {
  color: Black;
}
#color {
  background-color: Black;
  color: lightgreen;
}
#w {
  padding-right: 20px;
}
.marw15 {
  padding-left: 5%;
  padding-right: 5%;
}
tag {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 25px;
  margin-left: 10px;
}
audio {
  display:none;
}

#HTML {
  background-color: lightblue ;
  color: grey;
}
#Audio {
  background-color: yellow;
  color: grey;
}
#h1{
  background-color: white ;
  color: Grey;
}
#Paper {
  background-color: Pink;
  color: grey;
}
#Review {
  background-color: #ffaaf9;
  color: grey;
}
#Social {
  background-color: #f29e74;
  color: grey;
}
#CSS {
  background-color:  #ffaa00 ;
  color: grey;
}
#Python {
  background-color: lightgreen ;
  color: grey;
}
